.contact-container {
  display: flex;
  justify-content: center;
}

.contacts {
  border: 2px solid rgb(27, 0, 177);
  border-radius: 6px;
  padding: 0 10px 0 10px;
  width: 285px;
  background-color: rgb(176, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact-container:not(:last-child) {
  margin-bottom: 10px;
}

.contact-delete {
  padding: 6px 15px;
  float: right;
  margin: -40px 0;
}