.container-contact-form {
  display: flex;
  justify-content: center;
}

.phone-book-text {
  text-align: center;
}

.contact-form {
  border: 3px solid rgb(82, 84, 231);
  background-color: rgb(89, 157, 235);
  border-radius: 5px;
  margin: 7px 30px;
  padding: 15px 10px 15px 10px;
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  padding: 6px 10px;
  margin: 0 0 10px 0;
  border: 2px solid rgb(27, 0, 177);
  border-radius: 6px;
}
.form-input:hover,
.form-input:focus,
.form-input:active {
  border: 2px solid #fff;
  background-color: rgb(76, 73, 236);
}

.button-add-contact {
  width: 100px;
  padding: 5px;
}

.error-message-form {
  color: rgb(153, 0, 0);
  margin: -8px 0 10px 0;
}