.header-authnav-text {
    text-decoration: none;
    color: black;
  }
  
  .header-authnav-text:hover {
    color: rgb(82, 72, 233);
  }
  
  .header-nav-text-register,
  .header-nav-text-login {
    float: right;
  }
  
  .header-nav-text-login {
    padding: 0 30px 0 0;
  }